header h1{
    text-align: center;
}

header{
    margin-top: -15px;
    margin-bottom: -15px;
}
span{
    color: #0f0;
    font-weight: bold;
}
#details-container {
    border-radius: 10px 0px 0px 10px;
    width: 50%;
    /* display: inline-block; */
    text-align: center;
    background-color: aqua;
    height: auto;

}

#image-container{
    border-radius: 0px 10px 10px 0px;
    width: 50%;
    height: auto;
    text-align: center;
    padding-top: 22px;
    background-color: cadetblue;
    overflow: hidden;
}

img{
    height: 350px;
    width: 350px;
}

#container{
    display: flex;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

label{
    display: block;
    font-size:  23px;
    font-weight: bold;
    /* margin-left: 49%; */
    padding: 8px;
    background-color: #9C9EA1;
}

#details-container label:nth-child(1){
    border-radius: 10px 0px 0px 0px;
}

.div-child{
    /* margin-left: 50%; */
    font-size: 25px;
    /* display: inline-block; */
    background-color: ;
    margin-bottom: 5px;
    
}

button{
    display: inline-block;
    padding: 7px;
    border: none;
    background-color: #3181FE;
    border-radius: 10px;
    font-size: 27px;
    width: 100%;
    margin-top: 10px;
    
}

button:hover{
    cursor:pointer;
    background-color: #000;
    color: #fff;
    
}
